<div class="container">
    <h1>{{ title }}</h1>
    <div class="badge badge-dark my-5">Données mise à jour: {{ carUpdate | date:"dd/M/Y à H:mm" }}</div>
    <div class="row">
        <div class="card p-5 m-2 border-warning text-center"> <app-voiture [voiture]="carOne"></app-voiture></div>
        <div class="card p-5 m-2 border-warning text-center"><app-voiture [voiture]="carTwo"></app-voiture></div>
        <div class="card p-5 m-2 border-warning text-center"><app-voiture [voiture]="carThree"></app-voiture></div>
    </div>
    
    
</div>
