<div class="jumbotron mt-5 text-center shadow rounded">
    <h1 class="display-3 ">{{ title }}</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="cars" role="button">Learn more</a>
    </p>
</div>


<h1>Nos meilleurs pilotes</h1>
<div  class=" d-flex justify-content-center">
  <div  style="width: 40%;" class=" m-2 border-warning text-center"> <app-drivers-item  *ngFor="let oneDriver of alldrivers" [pilote]="oneDriver"></app-drivers-item></div>
  
</div>


<h1>nos meilleures voitures</h1>
<div class="card-deck  justify-content-center">
  <app-car-item  *ngFor="let oneCar of allCars" [car]="oneCar" ></app-car-item>
</div>